//-
//- The user detail page of the app.  The page is generated using a master template pattern.  
//- See the "layout.jade" file for more details.
//-
extends layout

block content
  h2 
    - if (user.id.length > 0)
      | Edit Your Profile 
    - else
      | Add User 
  
  //-
  //- The user id is grabbed from the session when "post"-ed
  //-
  form(method='post', action='/users/')
    ul
      li
        label(for='name') Name
        input(name='name', value=user.name)
      li
        label(for='addr') Address
        input(name='addr', value=user.address)
      li
        label(for='email') Email
        input(name='email', type='email', value=user.email)
      li 
        label(for='pw1') Password
        input(type='password', name='pw1', value=user.password)
      li
        label(for='pw2') Re-enter
        input(type='password', name='pw2', value=user.password)
      li
        input(type='submit', value='Boom')

  h2 API Settings
  div(class='apisettings') 
    - if (user.id.length > 0)
      - if (apiuser.id.length > 0)
        ul
          li
            span ApiKey
            | #{apiuser.apiKey}
          li
            span Password
            | #{apiuser.password}
      - else
        p Please 
          a(href='/users/' + user.id + '?action=createapikey') click here 
          | to create an api key.
    - else
      p Please login or create a user account to access the API.  
        